body {
    width: 375px;
    margin: 0 auto;
    background-color:#020659;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: white;
}

h2 {
    color: #590242;
}

#mainTitle {
    font-variant: small-caps;
}

#pageInfo {
    background: linear-gradient(to right,#2104d9,black);
}

#trending {
    width:375px;
    display: flex;
    overflow: scroll;
}

#yourPlaylists {
    background-color: #2699fb;
    display: flex;
    overflow: scroll;
}

#curatedPlaylists {
    background-color: #030a8c;
    display: flex;
    overflow: scroll;
}

#best2020, #pumpkinSpice, #quietStorm, #smoothJazz, #smoothStudy, #boozyBrunch, #dinnerParty, #mellow, #jazzChill, #jazzSax {
    margin: 10px;
    padding: 5px;
    text-align: center;;
}

#best2020, #pumpkinSpice, #quietStorm, #smoothJazz {
    background-color: #0d8dfb;
}

#boozyBrunch, #dinnerParty, #mellow, #jazzChill, #jazzSax {
    background-color: #020873;
}

#button {
    background-color: #590242;
    margin-left: 50px;
    margin-right: 350px;
}
















































ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    body {
        width : 834px;
    }

    #trending {
        width: 834px;
    }

    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}